body, html {
  padding: 0;
  margin: 0;
  background: black;
  color: white;
}

h1 {
  font-size: 60px;
  font-family: 'Unlock', cursive;
  text-align: center;
  /* rainbow color */
  background: red;
  background: linear-gradient(to right, orange , yellow, red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* center container */
.container {
  display: flex;
  justify-content: center;
}

/* Game Area (Canvas) */
#gameArea {
  border: 5px solid;
  border-image: linear-gradient(to right,orange 25%, yellow 25%, red 50%,red 50%, yellow 75%, orange 75%) 5;
  margin: 10px auto;
  position: absolute;
}

/* Button */
#startButton {
  color: white;
  padding: 25px 70px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: black;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 2;
  top: 300px;
}

#startButton:hover {
  border: 2px solid orange;
  color: orange;
}

#startButton:active {
  border: 2px solid white;
  color: white;
}

/* scoreDashBoard */
.scoreBoard {
  text-align: center;
  width: 1100px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
  font-family: 'Unlock', cursive;
}

#playerScoreDashboard {
  font-size: 20px;
  display: inline-block;
  margin: 0 200px;
}

#cpuScoreDashboard {
  font-size: 20px;
  display: inline-block;
  margin: 0 200px;
}

#playerScoreDashboard > p{
  /* rainbow color */
  background: red;
  background: linear-gradient(to right, orange , yellow, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#cpuScoreDashboard > p{
  /* rainbow color */
  background: red;
  background: linear-gradient(to right, orange , yellow, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
span {
  background: red;
  background: linear-gradient(to right, orange, yellow, red );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* modal */
#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 0;
	overflow: auto;
}

#modal-textbox {
	height: auto;
	width: 300px;
  padding: 20px 30px;
	border-radius: 20px;
	margin: 180px auto;
  text-align: center;
  color: white;
  border: 5px solid;
  border-image: linear-gradient(to right,orange 25%, yellow 25%, red 50%,red 50%, yellow 75%, orange 75%) 5;
  animation: modalSpinningAnimation;
  animation-duration: 2s;
}

@keyframes modalSpinningAnimation {
    0%{
        border: 2px solid transparent;
        transform: translate(600px);
    }
    50%{
        border: 2px solid #cecdb9;
        transform: rotate(-600deg);
    }
    100%{
        border: 2px solid transparent;
    }
}

#modal-textbox > p {
    color: white;
}

#playAgainButton {
  padding: 15px 30px;
  cursor: pointer;
  border: 2px solid yellow;
  background: orange;
  color: red;
  font-weight: bolder;
  text-transform: uppercase;
}

#playAgainButton:hover {
  color: yellow;
}

#playAgainButton:active {
  color: red;
}

/* === Direction === */
.direction > h5 {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  text-decoration: underline;
  text-shadow: 1px -1px yellow;
  color: orange;
}
