body, html {
  padding: 0;
  margin: 0;
  background: black;
  color: white;
}

h1 {
  font-size: 60px;
  font-family: 'Unlock', cursive;
  text-align: center;
  /* rainbow color */
  background: red;
  background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
  background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* center container */
.container {
  display: flex;
  justify-content: center;
}

/* Game Area (Canvas) */
#gameArea {
  border: 5px solid;
  border-image: linear-gradient(to right, grey 25%, yellow 25%, yellow 50%,red 50%, red 75%, teal 75%) 5;
  margin: 10px auto;
  position: absolute;
}

/* Button */
#startButton {
  color: white;
  padding: 25px 70px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: black;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  top: 300px;
}

#startButton:hover {
  border: 2px solid red;
  color: red;
}

#startButton:active {
  border: 2px solid white;
  color: white;
}

/* scoreDashBoard */
.scoreBoard {
  text-align: center;
  width: 1100px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
  font-family: 'Unlock', cursive;
}

#playerScoreDashboard {
  font-size: 20px;
  display: inline-block;
  margin: 10px 200px;
}

#cpuScoreDashboard {
  font-size: 20px;
  display: inline-block;
  margin: 10px 200px;
}

p{
  /* rainbow color */
  background: red;
  background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
  background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span {
  background: blue;
  background: linear-gradient(to right, red, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
