body, html {
  padding: 0;
  margin: 0;
}

#gameArea {
  border: 5px solid;
  border-image: linear-gradient(to right, grey 25%, yellow 25%, yellow 50%,red 50%, red 75%, teal 75%) 5;
  background-color: black;
  margin: 10px auto;
  display: block;
}

/* Button */

#startButton {
  color: white;
  padding: 25px 70px;
  border-radius: 10px;
  border: 3px solid white;
  background-color: red;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}
